@model IEnumerable<ShopTARgv24KMelnikov.Models.Spaceships.SpaceshipsIndexViewModel>


    <div>
        <a asp-action="create" asp-controller="spaceships" type="submit" class="btn btn-primary">CREATE</a>

    </div>
<div class="h1">
    Spaceships
</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Type Name</th>
                <th scope="col">Built Date</th>
                <th scope="col">Crew</th>
                <th scope="col"></th>
                @* <th scope="col">Engine Power</th>
                <th scope="col">Passengers</th>
                <th scope="col">Inner Volume</th> *@
</tr>
</thead>
<tbody>
            @{
                int nr = 1;
            }
            @foreach (var spaceship in Model)
            {
                <tr>
                    @* <th scope="row">@spaceship.Id</th> *@
                    <td>@nr</td>
                    <td>@spaceship.Name</td>
                    <td>@spaceship.TypeName</td>
                    <td>@spaceship.BuiltDate</td>
                    <td>@spaceship.Crew</td>
                    @* <td>@spaceship.EnginePower</td>
                    <td>@spaceship.Passengers</td>
                    <td>@spaceship.InnerVolume</td> *@
                    <td>
                        <a asp-action="update" asp-controller="spaceships" asp-route-id="@spaceship.Id" class="btn btn-outline-primary">Update</a>
                        <a asp-action="delete" asp-controller="spaceships" asp-route-id="@spaceship.Id" class="btn btn-outline-danger">Delete</a>

                    </td>
                </tr>
                nr++;
            }
        </tbody>

    </table>
</form>